
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import './variables.scss';

:root{

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
    }


    ::-webkit-input-placeholder{
        color: $Dark-grayish-violet;
        font-size: 1rem;
    }


    body {
        width: 100%;
        height: 100%;
        font-size: 62.5%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        // font-weight: 500;
        
    }

    #app {
        height: 100%;
        width: 100%;
    }

    .form--button{
        width: 100%;
        min-height: 45px;
        border: none;
        border-radius: 10px;
        background-color: $Very-dark-violet;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        
    }
}

html {
    height: 100vh;
    width: 100vw;
}

.checkout{
    display: flex;
    height: 100%;

    &--cards{
        flex: 1 1 25%;
        max-width: 25%;
        background-image: url('@/assets/images/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .card--one{
            min-height: 250px;
            min-width:450px;          
            background-image: url('@/assets/images/bg-card-front.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            position: absolute;
            top: 20%;
            left: 50%;
            z-index: 1;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            padding: 20px 24px;

            .circles{
                display: flex;
                align-items: center;
                gap: 20px;
                .first{
                    width: 50px;
                    min-height: 50px;
                    background-color: white;
                    border-radius: 50%;
                    // display: inline-block;
                }

                .second{
                    width: 25px;
                    height: 25px;
                    border: 2px solid white;
                    border-radius: 50%;
                    // display: inline-block;
                }
                
            }

            .card--number{
                display: flex;
                flex: 1;
                align-items: flex-end;
                input {
                    background-color: unset;
                    min-height: 50px;
                    width: 100%;
                    border: unset;
                    cursor: pointer;
                    font-size: 2rem;
                    color: white;
                    padding: unset;
                    margin-left: -5px;

                    &:focus{
                        outline: none;
                        border: unset;
                    }

                    &::placeholder{
                        font-size: 2rem;
                        color: white;
                    }
                }

            }

            .p-details{
                display: flex;
                justify-content: space-between;

                span{
                    font-size: 1rem;
                    color : white
                }
            }
        }

        .card--two{
            min-height: 250px;
            min-width:450px;       
            background-image: url('@/assets/images/bg-card-back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 70%;
            z-index: 1;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;

            input {
                min-height: 40px;
                border-radius: 5px;
                border: 1px solid $Light-grayish-violet;
                padding: 0px 12px;
                font-size: 1rem;
                cursor: pointer;
                background-color: #ADB5BE;
                width: 100%;
                color: white;
                text-align: right;
                width: 100%;

                &:focus{
                    outline: none;
                }

                &::placeholder{
                    color: white;
                }
            }
        }
    } 
    
    &--details{
        flex: auto;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--form{
        max-width: 35%;

        .form--input{
            margin-bottom: 16px;;
            width: 100%;
            label, input{
                display: block;
                width: 100%;
            }

            label{
                font-size: .9rem;
                margin-bottom: 5px;
            }

            input{
                min-height: 40px;
                border-radius: 5px;
                border: 1px solid $Light-grayish-violet;
                padding: 0px 12px;
                font-size: 1rem;
                cursor: pointer;
                &:focus{
                    outline: none;
                }

                &:hover{
                    border: 2px solid $Very-dark-violet;
                }

                
            }

            .error-message{
                color: hsl(0, 100%, 66%);
                font-size: .7rem;
                margin-top: 5px;
            }
        }

        .date_wrapper{
            display: flex;
            gap : 10px;
            .input_wrapper{
                display: flex;
                gap: 10px;
            }
        }

    }

    .message-container{
        min-width: 400px;
        text-align: center;
        .message--one{
            font-size: 2rem;
            margin: 16px 0px 0px 0px;
        }
        .message--two{
            font-size: 1rem;
            margin-bottom: 20px;
            color: $Dark-grayish-violet;
        }
    }
}


@media screen and (max-width: 1100px){
    .checkout{
        &--form{
            max-width: 40%;
        }

      
    }   
}

@media screen and (min-width: 1024px) and (max-width: 1500px){
        .checkout--cards{
            .card--one{
                left: 10%;
                top: 14%;
            }
            .card--two{
                left: 20%;
            }
        }
}

@media screen and (min-width: 1440px) {
    
}

// @media screen and (max-width: 768px) {
//     .checkout--cards{
//         flex-flow: column;
//         min-width: 100%;
//         .card--one{
//             left: 2%;
//         }
//         .card--two{
//             left: 2%;
//         }
//     }
// }

@media screen and (max-width: 1100px )  {
        .checkout {
            flex-flow: column;
            min-width: 100%;

            &--cards{
                flex : auto;
                min-width: 100%;
                min-height: unset;
                max-width: unset;
                position: initial;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 0rem;
                gap: 2rem;

                .card--one{
                    top: 10%;
                    left: 10%;
                    max-width: 350px;
                    min-height: 200px;
                    z-index: 2;
                    position: initial;

                    .card--number {
                        input {
                            font-size: 1rem;
                        }
                    }
                }

                .card--two{
                    top: 40%;
                    left: 10%;
                    max-width: 390px;
                    min-height: 200px;
                    position: initial;
                }
            }

            &--details{
                margin: 10% 0%;

               
            }

            &--form{
                max-width: unset;
                min-width: 100%;
                padding: 16px;
            }




        }
}

@media screen and (max-width: 500px){
    .checkout--cards{
        min-height: unset;
        padding: 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        .card--one{
            left: 2%;
            min-width: 100%
        }
        .card--two{
            top: 50%;
            left: 2%;
            min-width: 100%;
        }
    }

    .checkout{
        &--details{
            .message-container{
                min-width: unset
            }
        }

        &--form {
            .date_wrapper {
                flex-wrap: wrap;
            }
        }
    }

   
}