
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');
@import './variables.scss';

:root{
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        font-weight: 500;
       
    }

    // * {
    //     font-family: 'Roboto', sans-serif;
    //     font-family: 'Space Grotesk', sans-serif;
    // }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
    }


    ::-webkit-input-placeholder{
        color: $Dark-grayish-violet;
        font-size: 1rem;
    }


    body {
        height: 100vh;
        width: 100%;
        font-size: 62.5%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 500;
        
    }

    #app {
        height: 100%;
        width: 100%;
    }

    .form--button{
        width: 100%;
        min-height: 45px;
        border: none;
        border-radius: 10px;
        background-color: $Very-dark-violet;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        
    }
}

.checkout{
    display: flex;
    height: 100%;

    &--cards{
        flex: 1 1 30%;
        max-width: 20%;
        background-image: url('@/assets/images/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .card--one{
            min-height: 250px;
            min-width:450px;          
            background-image: url('@/assets/images/bg-card-front.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            position: absolute;
            top: 20%;
            left: 50%;
            z-index: 1;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 20px 24px;

            .card--number{
                input {
                    background-color: unset;
                    min-height: 50px;
                    width: 100%;
                    border: unset;
                    cursor: pointer;
                    font-size: 2rem;
                    color: white;

                    &:focus{
                        outline: none;
                        border: unset;
                    }
                }
            }

            .p-details{
                display: flex;
                justify-content: space-between;
                margin-top: 24px;

                span{
                    font-size: 1rem;
                    color : white
                }
            }
        }

        .card--two{
            min-height: 250px;
            min-width:450px;       
            background-image: url('@/assets/images/bg-card-back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            position: absolute;
            top: 48%;
            left: 70%;
            z-index: 1;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;

            input {
                min-height: 40px;
                border-radius: 5px;
                border: 1px solid $Light-grayish-violet;
                padding: 0px 12px;
                font-size: 1rem;
                cursor: pointer;
                background-color: #ADB5BE;
                width: 100%;
                color: white;
                text-align: right;

                &:focus{
                    outline: none;
                }
            }
        }
    } 
    
    &--details{
        flex: auto;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--form{
        max-width: 35%;

        .form--input{
            margin-bottom: 16px;;
            width: 100%;
            label, input{
                display: block;
                width: 100%;
            }

            label{
                font-size: .9rem;
                margin-bottom: 5px;
            }

            input{
                min-height: 40px;
                border-radius: 5px;
                border: 1px solid $Light-grayish-violet;
                padding: 0px 12px;
                font-size: 1rem;
                cursor: pointer;
                &:focus{
                    outline: none;
                }

                &:hover{
                    border: 2px solid $Very-dark-violet;
                }

                
            }

            .error-message{
                color: red;
                font-size: .7rem;
                margin-top: 5px;
            }
        }

        .date_wrapper{
            display: flex;
            gap : 10px;
            .input_wrapper{
                display: flex;
                gap: 10px;
            }
        }

    }
    .message-container{
        min-width: 400px;
        text-align: center;
        .message--one{
            font-size: 2rem;
            margin: 16px 0px 0px 0px;
        }
        .message--two{
            font-size: 1rem;
            margin-bottom: 20px;
            color: $Dark-grayish-violet;
        }
    }
}


@media screen and (max-width: 1100px){
    .checkout{
        &--form{
            max-width: 40%;
        }

      
    }   
}

@media screen and (min-width: 1024px) and (max-width: 1500px){
        .checkout--cards{
            .card--one{
                left: 10%;
                // min-width: 350px;
            }
            .card--two{
                left: 20%;
                // min-width: 350px;
            }
        }
}

@media screen and (max-width: 1100px) {
        .checkout {
            flex-flow: column;
            min-width: 100%;

            &--cards{
                flex : auto;
                min-width: 100%;
                min-height: 50%;
                max-width: unset;

                .card--one{
                    top: 10%;
                    left: 10%;
                    min-width: 350px;
                    min-height: 200px;
                    z-index: 2;
                }

                .card--two{
                    top: 40%;
                    left: 20%;
                    min-width: 300px;
                    min-height: 200px;
                }
            }

            &--details{
                margin: 10% 0%;

               
            }

            &--form{
                max-width: unset;
                min-width: 100%;
                padding: 16px;
            }




        }
}

@media screen and (max-width: 400px){
    .checkout--cards{
        .card--one{
            left: 2%;
        }
        .card--two{
            top: 50%;
            left: 8%;
        }
    }
}